venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db-*
*.db
wandb/
wandb_runs/
logs/
*.keras
*.h5
extractText/extractedTexts.json
*.json
*.txt
extractText/corpus.txt
extractText/*.txt
extractText/*.csv
*.gob.json
.db_backups/
*.pt
dataGeneration
dataGeneratio