venv/
.env
__pycache__/
*.pyc
Anaconda*.sh
*.sqlite
*.sqlite3
*.pyo
*.pyd
*.db-*
*.db
wandb/
wandb_runs/
logs/
*.keras
*.h5
extractText/extractedTexts.json
*.json
*.txt
extractText/corpus.txt
extractText/*.txt
extractText/*.csv
*.gob.json
*.gob
.db_backups/
*.pt
dataGeneration
dataGeneratio
frontend/example.xml
